body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  background: #50a3a2;
  width: 100%;
  height: 100%;
}


.header {
    font-weight: 900;
    font-size: 500%;
    text-align: center;
    margin-top: 4rem;
    color: #fff;
    line-height: 1.2;
}

.input-wrapper{
  text-align: center; 
  padding: 10px;
}

.dictionary {
  margin: 4rem auto;
  max-width: 90%;
  font-size: 400%;
  text-align: center;
}


.seach-box{
  padding: 18px;
  font-size: 25px;
  border: 1px solid grey;
  border-radius: 20px;
}



